<h1>Login Page</h1>
<form action="/login" method="POST">
    <label for="">Email: <input type="text" name="email" value="{{data.email}}"></label><br>
    <label for="">Password: <input type="password" name="password"></label><br>
    <input type="submit" value="Login">
</form>